@import '../styleguide';

#app-container {
    header {
      background: $medium-blue;
      .container {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        h1 {
          color: $catskill-white;
        }
      }
    }
    .body {
      display: flex;
      .content {
        align-self: stretch;
        background: $catskill-white;
        width: 100%;
        height: 100%;
      }
    }
}
